<header>
<h1>Admin Panel</h1>

<nav>
<ul class="nav nav-tabs" role="tablist">
  <li> <%= link_to 'Add Product', new_product_path %> </li>
  <li> <%= link_to 'Edit Product', new_product_path %> </li>
  <li> <%= link_to 'Add Industry', new_product_path %> </li>
  <li> <%= link_to 'Edit Industry', new_product_path %> </li>
  <li> <%= link_to 'View Demographics', new_product_path %> </li>
</ul>
<nav>

<header>

<br>
<br>