<h1><%= pluralize(@products.size, 'Product') %></h1>

<% @products.each do |product| %>
  <article>
    <header>
      <h2><%= link_to(product.name, product_path(product)) %></h2>
    </header>
    <p>
      <%= truncate(product.description, length: 200, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Releasing On:</th>
        <td><%= product.releasing_on %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><%= number_to_currency(product.price) %></td>
      </tr>
    </table>
  </article>
<% end %>

<br>
<%= link_to("Add New Product", new_product_path) %>
