<nav>
<ul class="nav nav-pills">
  <li class="active"> <%= link_to 'Trending', products_path %> </li>
  <li> <%= link_to 'Just Released', products_path %> </li>
  <li> <%= link_to 'Releasing Soon', products_path %> </li>
  <li> <%= link_to 'TBD', products_path %> </li>
</ul>
<nav>


<br>

<h1>Ed</h1>

<% @products.each do |product| %>
  <article class='product'>
    <header>
      <%= image_for(product) %> 
      <h2><%= link_to(product.name, product_path(product)) %></h2>
    </header>
    <table>
      <tr>
        <th>Releasing On:</th>
        <td><%= product.releasing_on %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td><%= format_price(product) %></td>
      </tr>
    </table>
  </article>
<% end %>